li.name > a {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: white;
}

.fb-auth {
  margin-top: 2em;
  margin-bottom: 2em;
}

.fp-pic {
    border: 1px black solid;
}
