li.name > a {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: white;
}

.container {
    margin-top: 5em;
}

.fb-auth {
  margin-top: 2em;
  margin-bottom: 2em;
}

.fp-pic {
    border: 1px black solid;
}

.center-img {
    display: block;
    margin: 0 auto;
}

.event-tile {
    border: 1px red solid;
}