li.name > a {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: white;
}

.container {
    margin-top: 5em;
}

.hero {
    width: 100%;
    border: black 1px solid;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    opacity: 0.5;
}

.hero-text {
    top: 5em;
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.app-name {
    font-weight: bold;
    color: white;
    text-shadow:
    -1px -1px 0 #000080,
    1px -1px 0 #000080,
    -1px 1px 0 #000080,
    1px 1px 0 #000080;
}

.app-desc {
    font-weight: bold;
}

.fb-auth {
  margin-top: 2em;
  margin-bottom: 2em;
}

.fp-pic {
    border: 1px black solid;
}

.fp-text {
    margin-top: 1em;
}

.center-img {
    display: block;
    margin: 0 auto;
}

.event-tile {
    border: 1px red solid;
}

.se-img {
    width: 50%;
    border: black 1px solid;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}